* {
    font-family: Open Sans;
}

.logo-footer {
    background-image: url("/images/logo-footer.jpg");
    height: 81px;
}

.mail-footer {
    font-size: 16px;
    text-decoration: underline;
    color: #DBF3E9 !important;
    font-family: Open Sans;
}

.footer-distributed {
    background: #505251;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 0px 0px 0px 40px;
}

.footer-distributed .container-footer-left {
    flex-basis: 57%;
    padding: 0px 0px 40px 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {

    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    color: #ffffff;
}

.footer-left p {
    margin-bottom: 0.5rem;
}

.footer-distributed .container-left {
    display: flex;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    font-weight: bold;
    margin: 0;
}

.footer-distributed h3 span {
    color: #06693a;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: #DBF3E9 !important;
}

.footer-distributed .footer-company-name {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .container-footer-center {
    display: flex;
    flex-direction: column;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 17px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: " ";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 10px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    text-align: center;
    background: #2b2a28;
    flex-basis: 43%;
    padding: 188px 0px 0px 0px;
    color: white;
}

.footer-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right-container p {
    margin-bottom: 0rem;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-left: 20px;

}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 30px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */




@media (max-width: 600px) {

    .footer-distributed{
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
    }
    .footer-distributed .container-left {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-distributed .footer-right {
        
        padding: 40px 25px 40px 0px;
        
    }
    .footer-distributed .footer-links {
    
        text-align: center;
    }
}
